* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: $background;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

ul {
  margin-left: 30px;
}

figcaption {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}

h2 {
  font-family: 'Rammetto One', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;

  .highlighting {
    display: block;
    bottom: 10px;
    z-index: -1;
    position: absolute;
    width: calc(100% + 25px);
    height: 50%;
    background-color: #fae367;
    transform-origin: left;
  }
}

h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.offset-2 {
  padding-left: calc(4.166667% * 2);
}

.col-10 {
  width: calc(4.166667% * 13);
}

.col-13 {
  width: calc(4.166667% * 13);
  
}