* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: $background;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

ul {
  margin-left: 30px;
}

figcaption,
.figcaption {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}

h2 {
  font-family: 'Rammetto One', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;

  .highlighting {
    display: block;
    bottom: 10px;
    z-index: -1;
    position: absolute;
    width: calc(100% + 25px);
    height: 50%;
    background-color: #fae367;
    transform-origin: left;
  }
}

h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.offset-1 {
  padding-left: calc($col * 2);
}

.offset-2 {
  padding-left: calc($col * 2);
}

.col-6 {
  width: calc($col* 6);
}

.col-7 {
  width: calc($col * 7);
}

.col-9 {
  width: calc($col * 9);
}

.col-10 {
  width: calc($col * 10);
}

.col-12 {
  width: calc($col * 12);
}

.col-13 {
  width: calc($col * 13);
}

.col-20 {
  width: calc($col * 20);
}